
.top-information{
    text-align: center;
    margin-top: -11px; 
    font-size: 10px;
    height: 40px;
    background: #cccccc;
}
.items li{
    text-align:center;
}
.bottom{
    height: 250px;
    
}
.logo{
    float: left;
}
.bottom .input-test{
float: right;
height: 30px;
width: 300px;
margin-right:350px; 
margin-top:20px; 
border-bottom:3px solid black;
}
.bottom #menu li{
    margin-left :30px;
}
.bottom #menu{
   float: left;
   margin-left:-330px;
   margin-top:150px; 
}
#menu{
    background: #1F568B;
    list-style-type: none;
    text-align: center;
}
#menu li{
    color: black;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}
#menu a {
    text-decoration: none;
    color: black;
    display: block;
  }
  #menu a:hover {
    background: yellow;
    color: #333;
  }

   /*==Dropdown Menu==*/
  .brands{
      display: none;
      position: absolute;
  }
  #menu li {
    position: relative;
  }
  #menu li:hover .brands {
    display: block;
  }
  #menu  .brands{
    height: 400px;
    background: whitesmoke;
    width: 980px;
   
}
  